<form flex="40" name="$ctrl.newUserForm" layout="column" layout-align="center" novalidate method="POST" ng-submit="$ctrl.newUserForm.$valid &&  $ctrl.formSubmit()">
 	<md-input-container>
    <label>Username</label>
    <input required name="username" ng-model="$ctrl.newUser.username" ng-pattern="/^[a-zA-Z0-9-_]+$/">
    <div ng-messages="$ctrl.newUserForm.username.$error">
      <div ng-message="required">Required</div>
      <div ng-message="pattern">Invalid username</div>
    </div>
  </md-input-container>
  
  <md-input-container>
    <label>Password</label>
    <input required name="password" type="password" ng-model="$ctrl.newUser.password" ng-pattern="/^[^\s\\]+$/">
    <div ng-messages="$ctrl.newUserForm.password.$error">
      <div ng-message="required">Required</div>
      <div ng-message="pattern">Password must not contain spaces.</div>
    </div>
  </md-input-container>

  <md-input-container>
    <label>Name</label>
    <input required name="name" ng-model="$ctrl.newUser.name" >
    <div ng-messages="$ctrl.newUserForm.name.$error">
      <div ng-message="required">Required</div>
    </div>
  </md-input-container>

  <md-input-container>
    <md-datepicker required name="birthDate" md-current-view="year" ng-model="$ctrl.birthDate" md-placeholder="Date of birth" md-open-on-focus md-max-date="$ctrl.maxDate"></md-datepicker>
    <div ng-messages="$ctrl.newUserForm.birthDate.$error">
      <div ng-message="required">Required</div>
    </div>
  </md-input-container>


  <md-input-container>
    <label></label>
    <md-chips ng-model="$ctrl.newUser.interests" readonly="false" md-removable="true" placeholder="Enter an interest..."></md-chips>
  </md-input-container>

  <div layout="row" layout-align="start center" flex>
    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
  </div> 
</form>