<form flex name="$ctrl.newModelForm" layout="column" layout-align="start" novalidate method="POST" ng-submit="$ctrl.newModelForm.$valid && $ctrl.createModel($ctrl.currentModel)">
	<div layout="row" flex="50" layout-align="start center">
    <md-button class="md-fab md-mini md-warn" aria-label="Add header" ng-click="$ctrl.clearModel()">
      <md-icon md-svg-icon="icons:clear"></md-icon>
    </md-button>
    <div layout="row" layout-align="start" flex>
		<md-input-container>
			<label>Model name</label>
			<input required name="modelName" ng-model="$ctrl.currentModel.name" ng-pattern="/^[a-zA-Z0-9-_.]+$/">
			<div ng-messages="$ctrl.newModelForm.modelName.$error">
				<div ng-message="required">Required</div>
				<div ng-message="pattern">Invalid model name e.g model_1</div>
			</div>
		</md-input-container>
		<md-input-container flex="20">
			<label>Affordance</label>
			<input required name="modelAffordance" ng-model="$ctrl.currentModel.affordance">
			<div ng-messages="$ctrl.newModelForm.modelAffordance.$error">
				<div ng-message="required">Required</div>
			</div>
		</md-input-container>
		<md-input-container flex="20">
      <label>Base resource</label>
      <md-select required name="baseResource" ng-model="$ctrl.currentModel.baseResource">
        <md-option ng-repeat="(k, v) in $ctrl.externalResourceKeys" ng-value="k">{{$ctrl.simplifyResourceName(k)}}
        </md-option>
      </md-select>
      <div ng-messages="$ctrl.newModelForm.baseResource.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container> 
    </div>
	</div>

	<div layout="row" layout-align="start center" flex ng-repeat="node in $ctrl.currentModel.nodes track by $index">
    <md-button class="md-fab md-mini md-primary" aria-label="Add header" ng-click="$ctrl.deleteNode($index)" ng-disabled="$ctrl.currentModel.nodes.length == 1">
      <md-icon md-svg-icon="icons:clear"></md-icon>
    </md-button>
    <div layout="row" layout-align="start" flex>
			<md-input-container>
				<label>Node name</label>
				<input required name="nodesName{{$index}}" ng-model="node.name" ng-pattern="/^[a-zA-Z0-9-_]+$/" unique-name="$ctrl.newModelForm">
				<div ng-messages="$ctrl.newModelForm['nodesName' + $index].$error">
					<div ng-message="required">Required</div>
					<div ng-message="pattern">Invalid name e.g node_1</div>
      		<div ng-message="uniqueName">Node name exists.</div>
      		<div ng-message="duplicateRoot">Exactly one root.</div>
      		<div ng-message="modelStructure">Min 2 children</div>
				</div>
			</md-input-container>

			<md-input-container flex="10">
				<label>Node Parent</label>
				<md-select required name="nodeParent{{$index}}" ng-model="node.parent" model-structure="$ctrl.newModelForm">
					<md-option ng-repeat="parent in $ctrl.getParents()" ng-value="parent">{{parent.name}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['nodeParent' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container flex="10">
				<label>Node Type</label>
				<md-select required name="nodeType{{$index}}" ng-model="node.type" model-structure="$ctrl.newModelForm">
					<md-option ng-repeat="type in $ctrl.nodeTypes" ng-value="type.name">{{type.value}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['nodeType' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'NODE'" flex="15">
				<label>Decomposition Type</label>
				<md-select required name="nodeDecType{{$index}}" ng-model="node.decType">
					<md-option ng-repeat="type in $ctrl.decTypes" ng-value="type.name">{{type.value}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['nodeDecType' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'LEAF'" flex="15">
				<label>Resource type</label>
				<md-select required name="resourceType{{$index}}" ng-model="node.resourceType" ng-change="node.resourceField = undefined">
					<md-option ng-repeat="(k, v) in $ctrl.filteredResources()" ng-value="k">{{$ctrl.simplifyResourceName(k)}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['resourceType' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'LEAF'" flex="10">
				<label>Resource field</label>
				<md-select required name="resourceField{{$index}}" ng-model="node.resourceField">
					<md-option ng-repeat="field in $ctrl.resourceFields(node)" ng-value="field">{{field}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['resourceField' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'LEAF'">
				<label>Op Type</label>
				<md-select required name="nodeOpType{{$index}}" ng-model="node.opType">
					<md-option ng-repeat="opType in $ctrl.filteredOpTypes(node)" ng-value="opType.name">{{opType.value}}</md-option>
				</md-select>
				<div ng-messages="$ctrl.newModelForm['nodeOpType' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'LEAF'">
				<label>Leaf value</label>
				<input required name="nodeValue{{$index}}" ng-model="node.value">
				<div ng-messages="$ctrl.newModelForm['nodeValue' + $index].$error">
					<div ng-message="required">Required</div>
				</div>
			</md-input-container>
			<md-input-container ng-if="node.type == 'LEAF'">
				<label>Node weight</label>
				<input required name="nodeWeight{{$index}}" ng-model="node.weight" ng-pattern="/^[1-9][0-9]?$|^100$|^0$/">
				<div ng-messages="$ctrl.newModelForm['nodeWeight' + $index].$error">
					<div ng-message="required">Required</div>
					<div ng-message="pattern">Number must be between 0 and 100</div>
				</div>
			</md-input-container>
		</div>
	</div>
  <div layout="row" layout-align="start center" flex>
    <md-button class="md-raised" ng-click="$ctrl.addNode()">Add Node</md-button>
    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    <md-button class="md-raised md-warn" ng-click="$ctrl.deleteModel($ctrl.currentModel)">Delete</md-button>
  </div> 
</form>