<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Maps</h1>
</md-toolbar>
<md-content layout-padding>
  <div class="padded" md-whiteframe="{{$ctrl.heights[$index]}}" layout="column" layout-align="center"
        ng-init="$ctrl.heights[$index] = 3" ng-mouseenter="$ctrl.heights[$index] = 6" ng-mouseleave="$ctrl.heights[$index] = 3" ng-click="$ctrl.setCurrentMap($index)" ng-repeat="map in $ctrl.maps track by $index">
    <div><strong>Original Path: {{map.originalPath}}</strong></div>
	<div>Forward Addr: {{map.forwardBaseAddress}}</div>
    <div>Forward Path: {{map.forwardPath}}</div>
  </div>
</md-content>