<md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Models</h1>
</md-toolbar>
<md-content layout="column" layout-padding>
  <div md-whiteframe="{{$ctrl.heights[$index]}}" ng-init="$ctrl.heights[$index] = 3" ng-mouseenter="$ctrl.heights[$index] = 6" ng-mouseleave="$ctrl.heights[$index] = 3" ng-click="$ctrl.setCurrentModel($ctrl.models[$index])" ng-repeat="model in $ctrl.models track by $index">
    <div><strong>{{model.name}}</strong></div>
    <div>{{model.affordance}}</div>
  </div>
</md-content>