<div layout="row" layout-align="start center">
    <md-progress-circular md-mode="indeterminate" ng-disabled="!$ctrl.isLoading" md-diameter="25px"></md-progress-circular>
	<div layout="column" layout-align="start">
		<div>Status: {{$ctrl.status.result}}</div>
		<div>{{$ctrl.status.message}}</div>
	</div>
</div>