<form flex="40" name="$ctrl.newMapForm" layout="column" layout-align="center" novalidate method="POST" ng-submit="$ctrl.newMapForm.$valid &&  $ctrl.createMap()">
 	<md-input-container>
    <label>Original Path</label>
    <input required name="originalPath" ng-model="$ctrl.currentMap.originalPath" ng-pattern="/^/[a-zA-Z0-9-_]+/[a-zA-Z0-9-_]+$/">
    <div ng-messages="$ctrl.newMapForm.originalPath.$error">
      <div ng-message="required">Required</div>
      <div ng-message="pattern">Original path must be in form of /{service}/{resource}. e.g /ebay/order</div>
    </div>
  </md-input-container>
  
  <md-input-container>
    <label>Forward Base Address</label>
    <input required name="forwardBaseAddress" ng-model="$ctrl.currentMap.forwardBaseAddress" ng-pattern="/^(http://)?[a-zA-Z0-9-_.]+(:\d+)?$/">
    <div ng-messages="$ctrl.newMapForm.forwardBaseAddress.$error">
          <div ng-message="required">Required</div>
      <div ng-message="pattern">Forward base address must be in form of http://{address}:{port} e.g http://localhost:8090</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Forward Path</label>
    <input required name="forwardPath" ng-model="$ctrl.currentMap.forwardPath" ng-pattern="/^/[a-zA-Z0-9-_/]+$/">
    <div ng-messages="$ctrl.newMapForm.forwardPath.$error">
      <div ng-message="required">Required</div>
      <div ng-message="pattern">Forward path must be in form of /{path1} e.g /other-api/order</div>
    </div>
  </md-input-container>  
  <div layout="row" layout-align="start">   
    <md-input-container flex>
      <label>Http Method</label>
      <md-select required name="httpMethod" ng-model="$ctrl.currentMap.httpMethod">
        <md-option ng-repeat="method in $ctrl.httpMethods" ng-value="method">
          {{method}}
        </md-option>
      </md-select>
      <div ng-messages="$ctrl.newMapForm.httpMethod.$error">
        <div ng-message="required">Required</div>
      </div>
    </md-input-container>   
    <md-input-container flex>
      <label>Resource</label>
      <md-select required name="resource" ng-model="$ctrl.currentMap.resourceClassName" name="resource">
        <md-option ng-repeat="resource in $ctrl.resources" ng-value="resource">{{$ctrl.simplifyResourceName(resource)}}
        </md-option>
      </md-select>
      <div ng-messages="$ctrl.newMapForm.resource.$error">
        <div ng-message="required">Requred</div>
      </div>
    </md-input-container>
  </div>
  <div layout="row" layout-align="start center">
    <span>Headers</span>
    <md-button class="md-fab md-mini md-primary" aria-label="Add header" ng-click="$ctrl.addHeader()">
      <md-icon md-svg-icon="icons:add"></md-icon>
    </md-button>
  </div>
  <div layout="row" layout-align="start center" ng-repeat="header in $ctrl.currentMap.httpHeaders" ng-controller="headersController as hdrCtrl">
    <md-button class="md-fab md-mini md-primary" aria-label="Add header" ng-click="$ctrl.deleteHeader($index)">
      <md-icon md-svg-icon="icons:clear"></md-icon>
    </md-button>
    <md-autocomplete
      flex required
      md-input-name="headerName{{header.id}}"
      md-no-cache="false"
      md-floating-label="Header name"
      md-search-text="header.name"
      md-items="item in hdrCtrl.headerNameSearch(header)"
      md-item-text="item"
      md-min-length="0"
      ng-pattern="/^[a-zA-Z0-9-_]+$/"
      md-clear-button="false">
        <md-item-template>
          <span md-highlight-text="header.name" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>

        <div ng-messages="$ctrl.newMapForm['headerName' + header.id].$error">
          <div ng-message="required">Required</div>
          <div ng-message="pattern">Invalid header name. e.g: X-USER-AUTH</div>
        </div>
    </md-autocomplete>

    <md-autocomplete
      flex required
      md-input-name="headerVal{{header.id}}"
      md-no-cache="true"
      md-floating-label="Header value"
      md-search-text="header.value"
      md-items="item in hdrCtrl.headerValueSearch(header)"
      md-item-text="item"
      md-min-length="0"
      md-clear-button="false">
        <md-item-template>
          <span md-highlight-text="header.value" md-highlight-flags="^i">{{item}}</span>
        </md-item-template>

        <div ng-messages="$ctrl.newMapForm['headerVal' + header.id].$error">
          <div ng-message="required">Required</div>
        </div>
    </md-autocomplete>
  </div>
  <div layout="row" layout-align="start center" flex>
    <md-button class="md-raised md-primary" type="submit">Submit</md-button>
    <md-button class="md-raised md-warn" ng-click="$ctrl.deleteMap($ctrl.currentMap)">Delete</md-button>
  </div> 
</form>