<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title th:text="${goal_model_editor_name}"></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
  <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.css" />
  <link type="text/css" href="https://material.angularjs.org/1.1.3/docs.cs" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/goal_model_editor.css}"/>
</head>
<body ng-app="goalModelEditor" ng-controller="parentController as parent">
<div layout="column" style="min-height:100%;" ng-cloak="" class="sidenavdemoBasicUsage">
	<section layout="row" flex="">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
			<models-container models="parent.models"
							  set-current-model="parent.setCurrentModel">
			</models-container>
    </md-sidenav>


    <div layout="column" flex="">
			<md-toolbar class="md-theme-indigo" layout="row" layout-align="start center">
		    <md-button ng-click="parent.openLeft()" class="md-icon-button md-primary" aria-label="Models sidebar" hide-gt-md="">
		      <md-icon md-svg-icon="icons:menu"></md-icon>
		    </md-button>
		    <h1 class="md-toolbar-tools">Editor</h1>
			</md-toolbar>
			<md-content layout-margin="" layout-padding="" flex="">
				<model-form  current-model="parent.currentModel"
					 resources="parent.contexts"
					 external-resource-keys="parent.externalContextKeys"
					 create-model="parent.createModel"
					 delete-model="parent.deleteModel">
				</model-form>
				<status-bar status="parent.status"
							is-loading="parent.isLoading">
				</status-bar>
	    </md-content>
    </div>
  </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-aria.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.2/angular-messages.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>

<script th:src="@{/js/admin/goal_model_editor_converters.js}"></script>
<script th:src="@{/js/admin/goal_model_editor.js}"></script>
</body>
</html>