<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="text-align:center;margin-top:10%">
    <a th:href="@{/admin/mapper}" th:text="${mapper_editor_name}"></a>
    <br/>
    <a th:href="@{/admin/goalmodel}" th:text="${goal_model_editor_name}"></a>
    </div>
</body>
</html>