<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${mapper_editor_name}"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
  <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.3/angular-material.css" />
  <link type="text/css" href="https://material.angularjs.org/1.1.3/docs.cs" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/admin/mapper_editor.css}"/>
</head>
<body ng-app="mapperEditor" ng-controller="parentController as parent">

<div layout="column" style="min-height:100%;" ng-cloak="" class="sidenavdemoBasicUsage">

  <section layout="row" flex="">

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
			<maps-container maps="parent.maps"
							set-current-map="parent.setCurrentMap">
			</maps-container>
    </md-sidenav>
    <div layout="column" flex="">
    	<md-toolbar class="md-theme-indigo" layout="row" layout-align="start center">
		    <md-button ng-click="parent.openLeft()" class="md-icon-button md-primary" aria-label="Maps sidebar" hide-gt-md="">
		      <md-icon md-svg-icon="icons:menu"></md-icon>
		    </md-button>
		    <h1 class="md-toolbar-tools">Editor</h1>
			</md-toolbar>
			<md-content layout-margin="" layout-padding="" flex="">
			<map-form 	create-map="parent.createMap"
									delete-map="parent.deleteMap"
									current-map="parent.currentMap"
									resources="parent.resources"
									is-loading="parent.isLoading">
			</map-form>
			<status-bar status="parent.status"
						is-loading="parent.isLoading">
			</status-bar>
    </md-content>
    </div>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-animate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-aria.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.2/angular-messages.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.js"></script>
<script th:src="@{/js/admin/mapper_editor.js}"></script>

</body>
</html>